body {
  background-color:  #FBFACD;
}
hr {
  background-color: #FBFACD;
  border-style: none;
  border-top-style: dotted;
  border-color: #E97777;
  border-width: 5px;
  width: 10%;

}
h1 {
 color: #65647C

}
h2 {
  color:#182747
}
h3{
  color: #497174
}
